# Snowflake Beauty Retail â€“ Star Schema Demo
This notebook creates a star schema for a beauty retail company and runs analytical queries.

## Create Dimension Tables

In [ ]:
-- dim_customer
CREATE OR REPLACE TABLE dim_customer (
    customer_key INTEGER AUTOINCREMENT PRIMARY KEY,
    first_name STRING,
    last_name STRING,
    gender STRING,
    loyalty_tier STRING,
    country STRING,
    city STRING,
    signup_date DATE
);

In [ ]:
-- dim_product
CREATE OR REPLACE TABLE dim_product (
    product_key INTEGER AUTOINCREMENT PRIMARY KEY,
    product_name STRING,
    category STRING,
    subcategory STRING,
    price NUMBER(10,2)
);

In [ ]:
-- dim_date
CREATE OR REPLACE TABLE dim_date (
    date_key INTEGER PRIMARY KEY,
    full_date DATE,
    year INTEGER,
    month INTEGER,
    day INTEGER
);

## Create Fact Table

In [ ]:
CREATE OR REPLACE TABLE fact_sales (
    sales_key INTEGER AUTOINCREMENT PRIMARY KEY,
    date_key INTEGER,
    customer_key INTEGER,
    product_key INTEGER,
    quantity INTEGER,
    total_amount NUMBER(12,2)
);

## Insert Mock Data

In [ ]:
INSERT INTO dim_customer (first_name,last_name,gender,loyalty_tier,country,city,signup_date)
VALUES ('Ana','Lopez','F','Gold','USA','Miami','2023-01-10');

In [ ]:
INSERT INTO dim_product (product_name,category,subcategory,price)
VALUES ('Vitamin C Serum','Skincare','Serum',35.00);

In [ ]:
INSERT INTO dim_date (date_key,full_date,year,month,day)
VALUES (20240101,'2024-01-01',2024,1,1);

In [ ]:
INSERT INTO fact_sales (date_key,customer_key,product_key,quantity,total_amount)
VALUES (20240101,1,1,2,70.00);

## Analytical Queries

In [ ]:
SELECT d.year, p.category, SUM(f.total_amount) revenue
FROM fact_sales f
JOIN dim_date d ON f.date_key=d.date_key
JOIN dim_product p ON f.product_key=p.product_key
GROUP BY d.year, p.category;